body{
background-color: rgb(177, 201, 221);    

}

#carddiv{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.card-img-top{
    border-radius: 1.5rem;
    padding: 13px;
}
.card{
    border-radius: 1rem;    
}
#bottomTxt{
    font-size: small;
padding: 7px;
}