body{
background-color:  hsl(220, 15%, 55%);

}

#carddiv{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.card-img-top{
    border-radius: 1.5rem;
    padding: 13px;
}
.card{
    border-radius: 1rem;
    box-shadow: 2px 8px 20px black;  
}
#bottomTxt{
    font-size: 15px;
padding: 7px;

}